<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre
            </h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum facilis nesciunt earum excepturi vel sed nostrum minus? Quidem eius id fuga quisquam aspernatur corrupti! Esse numquam rerum fugiat vel excepturi?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i>email@email.com</li>
                <li><i class="fa-brands fa-whatsapp"></i>email@email.com</li>
                <li><i class="fa-brands fa-whatsapp"></i>email@email.com</li>
            </ul>
        </address>        
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>